name: Docker build & Publish



on:
  push:
    branches:
      - main

jobs:
    build-and-push:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Login to DockerHub
          run: docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{secrets.DOCKER_PASSWORD}}"

        - name: Build Docker image
          run: docker build -t idromero/incidentapi:${{ github.sha }} .

        - name: Push Docker image
          run: docker push idromero/incidentapi:${{ github.sha }}